.logo-img{
    height: 40px;
    padding-left: 200px;
}

#logo{
    background-image: url(../img/pattern.png);
    background-size: 400px;
    background-color:#007fff;
    height: 100px;
    width: auto;
}

.sky-blue{
    color: #11accf;
}

.ligh-grey{
    color: lightgray;
}

.margine-pagina{
    padding-left: 200px;
    padding-right: 200px;
}

h1{
    font-size: 60px;
    margin-bottom: 0%;
}

thead{
    background-color: #11accf;
    color: white;
    text-align: left;
}

.riga{
    width: 200px;
}

.tr-color{
    background-color: rgb(132, 246, 246);
}

.underline{
    background-color: yellow;
}


#monitor{
    color: white;
    font-size: 25px;
    width: 270px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
}

#graph{
    color: white;
    font-size: 25px;
    width: 270px;
    height: 200px;
    background-image: url(../img/graph.jpg);
}